[submodule "deps/libsecp256k1"]
	path = deps/libsecp256k1
	url = https://github.com/bitcoin-core/secp256k1.git
	ignore = untracked
[submodule "deps/leveldb"]
	path = deps/leveldb
	url = https://github.com/google/leveldb.git
	ignore = untracked
